/*put in <details> and <summary> for stuff once firefox supports it */
html {
  height: 100%; padding: 0; margin: auto;
}

body {
    height: 100%; padding: 0; margin: auto;
    font-family: 'Roboto Mono', 'Cousine', "Lucida Console", "Courier New", Courier, monospace ;
}
h1 {
padding-left: 20;
padding-right: 20;
}

h2 {
  padding: 0;
  line-height: 100%;
}

img{
  max-width:100%;
  max-height: 200px;
}

p{
  color: grey;
  padding: 0;
}
ul{
  list-style-type: none;
}

a:link{
  color: grey;
}
a:visited{
  color: lightgrey;
}
a:hover{
  color: black;
}
a:active{
  color: black;
  font-weight: bold;

}


div.top {
  padding: 20px;

}

div.container{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 95% ;
  float: left;
}

div.box {
  border-bottom: 5px solid ;
  border-color: grey;
  padding:3%;

}

div.imghead {
/*set background image inside the .html */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 200px;
  font: ;
  text-align: center;

}


/* little larger screen */
@media only screen and (min-width: 480px) {
div.container{
  width: 45% ;
  height: 400px;
}
div.box{
  max-height: 400px;
}
}

/* Pads and larger phones */
@media only screen and (min-width: 600px) {
  div.container{
    height: 450px;
  }
  div.box{
    max-height: 450px;
  }
}

/* Larger pads */
@media only screen and (min-width: 768px) {
  div.container{
    height: 350px;
  }
  div.box{
    max-height: 350px;
  }

}

@media only screen and (min-width: 840px) {
  div.container{
    height: 400px;
  }
  div.box{
    max-height: 400px;
  }

}


/** Horizontal pads and laptops */
@media only screen and (min-width: 992px) {
  div.container{
    width: 28.33% ;
    height: 400px;
  }
  div.box{
    max-height: 400px;
  }
}
