/*put in <details> and <summary> for stuff once firefox supports it */
html {
  height: 100%; padding: 0; margin: auto;
}

body {
    height: 100%; padding: 0; margin: auto;
    font-family: 'Roboto Mono', 'Cousine', "Lucida Console", "Courier New", Courier, monospace ;
    font-size: 100%;
}
h1 {
padding-left: 20;
padding-right: 20;

}

h2 {
  padding: 0;
  line-height: 100%;
  text-align: center;
}

img{
  max-width:100%;
  max-height: 200px;
}

p,li{
  color: grey;
  padding: 0;
}
ul{
  list-style-type: none;
  text-align: center;
}

a:link{
  color: grey;
}
a:visited{
  color: lightgrey;
}
a:hover{
  color: black;
}
a:active{
  color: black;
  font-weight: bold;

}


div.top {
  padding: 20px;

}

div.container{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 95% ;
  float: left;
}

div.box {
  border-bottom: 5px solid ;
  border-color: grey;
  padding:3%;

}

div.imghead {
/*set background image inside the .html */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 200px;
  font: ;
  text-align: center;

}

/*Image hover-y stuff sourced from : http://stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering

.imgWrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;


  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;

}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
*/

/* little larger screen */



@media only screen and (min-width: 480px) {
/*div.container{
  width: 45% ;
  height: 400px;
}
div.box{
  max-height: 400px;
}
*/
}





/* Pads and larger phones */
@media only screen and (min-width: 600px) {
  div.container{
    height: 450px;
    width: 45% ;
  }
  div.box{
    max-height: 464px;
  }
}

/* Larger pads */
@media only screen and (min-width: 768px) and (max-width: 842px) {
  div.container{
    height: 450px;
  }
  div.box{
    max-height: 464px;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation : portrait) {
    /*mobile Portrait*/
body{
        font-size:150%;
}
    div.container{
      width: 95%;
      height:auto;

    }
    div.box {
      height: auto;
      max-height: none;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation : landscape) {
    /*moobile landscape*/
body{
        font-size:130%;
}
    div.container{
      width: 45%;
      height:auto;

    }
    div.box {
      height: auto;
      max-height: none;
    }
}



/** Horizontal pads and laptops */
@media only screen and (min-width: 992px) {
  div.container{
    width: 28.33% ;
    height: 420px;
  }
  div.box{
    max-height: 464px;
  }
}

@media only screen and (min-device-width: 375px) {

}
