html {
  height: 100%; padding: 0; margin: 0;
}
@font-face {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height: 100%; padding: 0; margin: 0;
}
h1,h2,h3,p {
padding-left: 20;
padding-right: 20;
}

#div-left { width: 30%; float: left;}
#div-right { width: 70%; float: right;}

#div1,#div2,#div3,#div4 { width: 50%; height: 50%; float: left;}
#div1 { background: #FFFFFF; }
#div2 { background: #FFFFFF; }
#div4 { background: #86e9a5; }
#div3 { background: #86e9a5; }

#divtop {
z-index: 10;
position: absolute;
}
